Options -Multiviews
Options +FollowSymlinks
RewriteEngine on
#RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} ^((?!\.html).)*$
RewriteRule ^.*$ $0 [L]

RewriteRule ^.*$ index.php?p=$0
