/*** DOCUMENT ***/
body
{
	font-family: "Times New Roman";
	width: 800px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(rgb(255,255,255), rgb(240,240,240));
	background: -o-linear-gradient(rgb(255,255,255), rgb(240,240,240));
	background: -moz-linear-gradient(rgb(255,255,255), rgb(240,240,240));
	background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1,
h2
{
	font-variant: small-caps;
	font-weight: bold;
}

hr
{
	border-style: dotted hidden hidden hidden;
	color: rgb(230, 230, 230);
	clear: both;
	height: 1px;
}

img
{
	border-style: hidden;
}

/*** HEADER ***/
header div.title
{
	float: left;
	position: relative;
	display: inline-block;
	white-space: nowrap;
}

header div.title img
{
	padding-left: 10px;
}

header div.title div
{
	position: absolute;
	top: 0px;
	left: 100px;
}

header div.title div h1
{
	font-size: 40px;
	text-shadow: 2px 2px 1px rgb(200, 200, 200);
	margin: 0px;
	padding-top: 10px;
}

header div.title div h2
{
	font-size: 16px;
	margin: 0px;
	padding-left: 60px;
}

header div.social
{
	float: right;
}

header div.social a
{
	opacity: 0.5;
	text-decoration: none;
	margin: 1px;
}

header div.social a:hover
{
	opacity: 1;
}

/*** NAV ***/
nav
{
	text-align: center;
}

nav a
{
	padding: 6px;
	margin: 6px;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-variant: small-caps;
	text-decoration: none;
	text-shadow: 2px 2px 1px rgb(200, 200, 200);
	transition: background 1s;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

nav a.selected
{
	color: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.05);
}

nav a:hover,
nav a:hover.selected
{
	color: rgb(240, 240, 240);
	background: rgba(0, 0, 0, 0.3);
}

/*** MAIN ***/
main
{
	color: rgb(0, 0, 0);
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}

main section,
main article
{
	display: block;
	width: 100%;
	clear: both;
}

main section
{
	margin-bottom: 30px;
}

main article
{
	padding-left: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

main h1:hover,
main h2:hover
{
	text-decoration: underline;
}

main h1
{
	font-size: 22px;
	text-shadow: 2px 2px 1px rgb(200, 200, 200);
	margin-top: 20px;
	margin-bottom: 20px;
	clear: both;
}

main h2
{
	font-size: 18px;
	color: rgb(128, 128, 196);
}

main a
{
	color: rgb(128, 128, 192);
	text-decoration: none;
}

main a:hover
{
	color: rgb(192, 192, 224);
	text-decoration: underline;
}

main li
{
	padding-bottom: 10px;
}

.nav-list
{
	text-align: right;
	margin-top: -5px;
}

.nav-list li
{
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
}

.project-img
{
	float: right;
	padding-top: 20px;
	margin-left: 40px;
	margin-bottom: 40px;
}

/*** FOOTER ***/
footer
{
	font-size: 16px;
	text-align: center;
}
