/*** DOCUMENT ***/
html
{
	height: 100%;
	background: linear-gradient(135deg, white 0%, rgb(144, 144, 144) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body
{
	box-shadow: 0px 0px 20px rgb(192, 192, 192);
	border: 1px solid rgb(192, 192, 192);
	position: relative;
	max-width: 1000px;
	min-height: calc(100% - 20px - 1.5em);
	border-radius: 10px;
	background-color: white;
	font-family: "Times New Roman";
	font-size: 18px;
	padding-bottom: 1.5em;
	margin: 10px auto 10px auto;
}

img
{
	border-style: hidden;
}

/*** HEADER ***/
header
{
	display: block;
	position: relative;
	text-align: center;
}

header div.title
{
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 210%;
	color: white;
	text-shadow:
		-1px -1px 4px rgb(200, 200, 200),  
		 1px -1px 4px rgb(200, 200, 200),
		-1px  1px 4px rgb(200, 200, 200),
		 1px  1px 4px rgb(200, 200, 200);
	padding: 5px 0px 0px 15px;
}

header div.title span
{
	display: block;
	font-size: 40%;
	color: rgb(200, 200, 200);
	text-shadow: none;
}

header div.social
{
	position: absolute;
	top: 0px;
	right: 0px;
	white-space: nowrap;
	padding-right: 10px;
}

header div.social a
{
	opacity: 0.5;
	text-decoration: none;
	margin-left: -5px;
}

header div.social a:hover
{
	opacity: 1;
}

/*** NAV ***/
nav
{
	display: block;
	max-width: 800px;
	text-align: center;
	white-space: nowrap;
	border-style: hidden hidden solid hidden;
	border-width: 2px;
	border-color: rgb(128, 128, 128);
	padding: 25px 0px 0px 0px;
	margin: 0px auto 0px auto;
}

nav ul
{
	display: inline-block;
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

nav li
{
	display: inline;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav a
{
	color: black;
	font-size: 110%;
	font-variant: small-caps;
	text-decoration: none;
	text-shadow: 2px 1px 2px rgb(220, 220, 220);
	border: 0px solid rgb(128, 128, 128);
	border-radius: 5px 5px 0px 0px;
	/*transition: background 0.8s;*/
	padding: 3px 10px 3px 10px;
	margin: 0px 3px 0px 3px;
}

nav a.selected
{
	background-color: white;
	border-width: 2px 2px 0px 2px;
}

nav a:hover:not(.selected)
{
	background: linear-gradient(rgb(200, 200, 200), white);
	border-width: 2px 2px 0px 2px;
	padding-left: 8px;
	padding-right: 8px;
}

/*** MAIN ***/
main
{
	display: block;
	color: black;
	font-size: 100%;
	padding: 5px;
	margin: 0px;
}

main section
{
	display: block;
	width: calc(100% - 20px);
	clear: both;
	transition: opacity 1s;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 30px 0px !important;
}

main h2,
main h3
{
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
}

main h2:hover,
main h3:hover
{
	text-decoration: underline;
}

main h2
{
	clear: both;
	font-size: 150%;
	color: white;
	text-align: center;
	text-shadow:
		-1px -1px 1px rgb(100, 100, 100),  
		 1px -1px 1px rgb(100, 100, 100),
		-1px  1px 1px rgb(100, 100, 100),
		 1px  1px 1px rgb(100, 100, 100);
	margin: 25px 0px 20px -20px;
}

main h3
{
	font-size: 105%;
	color: white;
	text-shadow:
		-1px -1px 1px rgb(255, 150, 100),  
		 1px -1px 1px rgb(255, 150, 100),
		-1px  1px 1px rgb(255, 150, 100),
		 1px  1px 1px rgb(255, 150, 100);
	margin: 20px 0px 15px 0px;
}

main p
{
	margin: 10px 0px 10px 0px;
}

main a
{
	color: rgb(255, 150, 100);
	text-decoration: none;
}

main a:hover
{
	color: rgb(255, 180, 130);
	text-decoration: underline;
}

main i
{
	color: rgb(80, 80, 80);
}

main ul
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 40px;
}

main li
{
	padding-bottom: 10px;
}

main .page-nav
{
	max-width: 600px;
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-style: dashed;
	border-color: black;
	padding: 0px;
	margin: 10px auto 0px auto;
}

main .page-nav li
{
	display: inline;
	list-style-type: none;
	padding: 0px 10px 0px 10px;
}

main .project-img
{
	float: left;
	width: 100px;
	height: auto;
	margin: 0px 20px 20px 0px;
}

main div.tweet
{
	clear: both;
	position: relative;
	font-size: 80%;
	padding: 0px 0px 0px 64px;
	margin: 10px 10px 30px 10px;
}

main div.tweet img
{
	vertical-align: top;
}

main div.tweet img.avatar
{
	position: absolute;
	left: 0px;
	border-radius: 5px;
	margin: 0px 10px 0px 0px;
}

main div.tweet span
{
	float: right;
	color: rgb(192, 192, 192);
}

main div.tweet div
{
	margin: 10px;
}

main div.tweet a.action
{
	color: rgb(128, 128, 128);
	opacity: 0.5;
	margin: 0px 10px 0px 0px;
}

main div.tweet a.action:hover
{
	text-decoration: none;
	opacity: 1;
}

/*main div.tweet a.action img
{
	vertical-align: top;
}*/

/*** FOOTER ***/
footer
{
	display: block;
	max-width: 800px;
	height: 1.5em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 80%;
	text-align: center;
	border-style: solid hidden hidden hidden;
	border-width: 2px;
	border-color: black;
	padding: 0.5em;
	margin: 0px auto 0px auto;
}

/*** ON SMALL SCREENS ***/
@media screen and (max-width: 800px)
{
	body
	{
		border-radius: 0px;
		margin: 0px;
	}

	header div.title
	{
		display: none;
	}

	header div.social
	{
		position: relative;
		padding: 0px;
		margin: 0px auto 0px auto;
	}

	header div.social a img
	{
		width: 24px;
		height: 24px;
	}

	nav
	{
		padding-top: 5px;
	}

	nav a
	{
		font-size: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}

	nav a.selected,
	nav a:hover:not(.selected)
	{
		padding-left: 3px;
		padding-right: 3px;
	}

	main section
	{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	main h2
	{
		font-size: 110%;
		margin-left: 0px;
		margin-bottom: 10px;
	}

	main ul
	{
		padding-left: 20px;
	}

	main li
	{
		padding-bottom: 0px;
	}

	main .page-nav
	{
		padding: 0px;
	}

	main .page-nav li
	{
		font-size: 80%;
		padding-left: 5px;
		padding-right: 5px;
	}

	main .project-img
	{
		float: left;
		width: 50px;
		height: auto;
		margin-left: 0px;
		margin-right: 10px;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	main div.tweet
	{
		padding-left: 32px;
	}

	main div.tweet img.avatar
	{
		width: 24px;
		height: 24px;
	}
}
