/*** DOCUMENT ***/
html
{
	height: 100%;
}

body
{
	font-family: "Times New Roman";
	font-size: 18px;
	position: relative;
	max-width: 1000px;
	margin: 0 auto 0 auto;
	min-height: calc(100% - 1.5em);
	background: linear-gradient(white, rgb(240,240,240));
    background-repeat: no-repeat;
    background-attachment: fixed;
	padding-bottom: 1.5em;
}

iframe[id^='twitter-widget-']
{
	width: 100% !important;
}

img
{
	border-style: hidden;
}

/*** HEADER ***/
header
{
	display: block;
}

header div.title
{
	display: inline-block;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 210%;
	color: white;
	text-shadow:
		-1px -1px 4px rgb(200, 200, 200),  
		 1px -1px 4px rgb(200, 200, 200),
		-1px  1px 4px rgb(200, 200, 200),
		 1px  1px 4px rgb(200, 200, 200);
	padding-top: 10px;
	padding-left: 100px;
}

header div.title img
{
	position: absolute;
	top: 2px;
	left: 10px;
}

header div.title span
{
	font-size: 40%;
	color: rgb(200, 200, 200);
	text-shadow: none;
}

header div.social
{
	float: right;
	white-space: nowrap;
	padding-right: 10px;
}

header div.social a
{
	opacity: 0.5;
	text-decoration: none;
	margin-left: -5px;
}

header div.social a:hover
{
	opacity: 1;
}

/*** NAV ***/
nav
{
	display: block;
	clear: both;
	text-align: right;
	white-space: nowrap;
	background: linear-gradient(to top, rgb(220, 220, 220) 0%, white 50%);
	border-style: hidden hidden solid hidden;
	border-width: 2px;
	border-color: black;
	padding-top: 5px;
}

nav ul
{
	display: inline-block;
	padding: 0px 10px 0px 10px;
	margin: 0px;
}

nav li
{
	display: inline;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

nav a
{
	color: black;
	font-size: 110%;
	font-variant: small-caps;
	text-decoration: none;
	text-shadow: 2px 1px 2px rgb(220, 220, 220);
	border-radius: 5px 5px 0px 0px;
	border-style: solid;
	border-width: 0px;
	border-color: black;
	/*transition: background 0.8s;*/
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 3px;
	margin-right: 3px;
}

nav a.selected
{
	background-color: white;
	border-width: 1px 1px 0px 1px;
}

nav a:hover:not(.selected)
{
	background: linear-gradient(rgb(200, 200, 200), white);
	border-width: 1px 1px 0px 1px;
	padding-left: 9px;
	padding-right: 9px;
}

/*** MAIN ***/
main
{
	display: block;
	color: black;
	font-size: 100%;
	padding: 5px;
}

main section
{
	display: block;
	width: 100%;
	clear: both;
	margin-bottom: 30px;
}

main section.leaf
{
	padding-left: 20px;
	border-left: 5px solid rgb(230, 230, 230);
}

main h2,
main h3
{
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
}

main h2:hover,
main h3:hover
{
	text-decoration: underline;
}

main h2
{
	clear: both;
	font-size: 150%;
	color: white;
	text-shadow:
		-1px -1px 1px rgb(100, 100, 100),  
		 1px -1px 1px rgb(100, 100, 100),
		-1px  1px 1px rgb(100, 100, 100),
		 1px  1px 1px rgb(100, 100, 100);
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: -20px;
}

main h3
{
	font-size: 105%;
	color: white;
	text-shadow:
		-1px -1px 1px rgb(255, 150, 100),  
		 1px -1px 1px rgb(255, 150, 100),
		-1px  1px 1px rgb(255, 150, 100),
		 1px  1px 1px rgb(255, 150, 100);
	margin-top: 20px;
	margin-bottom: 15px;
}

main p
{
	margin-top: 10px;
	margin-bottom: 10px;
}

main a
{
	color: rgb(255, 150, 100);
	text-decoration: none;
}

main a:hover
{
	color: rgb(255, 180, 130);
	text-decoration: underline;
}

main i
{
	color: rgb(80, 80, 80);
}

main ul
{
	margin-top: 10px;
	padding-left: 40px;
}

main li
{
	padding-bottom: 10px;
}

.page-nav
{
	text-align: center;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.page-nav li
{
	display: inline;
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
}

.project-img
{
	float: left;
	width: 100px;
	height: auto;
	margin-right: 20px;
	margin-bottom: 20px;
}

/*** FOOTER ***/
footer
{
	display: block;
	clear: both;
	width: auto;
	height: 1.5em;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 80%;
	text-align: left;
	border-style: solid hidden hidden hidden;
	border-width: 2px;
	border-color: black;
	padding: 0.5em;
}

/*** ON SMALL SCREENS ***/
@media screen and (max-width: 1020px)
{
	main h2
	{
		margin-left: 0px;
	}
}

@media screen and (max-width: 800px)
{
	header
	{
		height: 20px;
	}

	header div.title
	{
		display: none;
	}

	header div.social
	{
		margin-bottom: -1px;
	}

	header div.social a
	{
		margin-left: 5px;
	}

	header div.social a img
	{
		width: 16px;
		height: 16px;
	}

	nav
	{
		text-align: left;
	}

	nav a
	{
		font-size: 100%;
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 0px;
		margin-right: 0px;
	}

	main section.leaf
	{
		padding: 0px;
		border-width: 0px;
	}

	main h2
	{
		font-size: 110%;
		margin-left: 0px;
		margin-bottom: 10px;
	}

	main ul
	{
		padding-left: 20px;
	}

	main li
	{
		padding-bottom: 0px;
	}

	.page-nav
	{
		padding: 0px;
	}

	.page-nav li
	{
		font-size: 80%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.project-img
	{
		float: left;
		width: 50px;
		height: auto;
		margin-left: 0px;
		margin-right: 10px;
		margin-top: 0px;
		margin-bottom: 10px;
	}
}
